.header {
  background-color: white;
  display: flex;
  height: 150px;
  align-items: center;
  z-index: 1;
}

.klipfolio-logo {
  color: inherit;
  background-size: 100px 45px;
  padding-top: 20px;
  padding-left: 20px;
  max-height: 60px;
  margin-bottom: 24px;
}


.header-right {
  flex-grow: 3;
  height: 80px;
  z-index: 2;
}

.header-left {
  flex-grow: 1;
  height: 80px;
  align-items: center;
}
