.card-body {
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}

#title {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 12px;
}

#amount {
  position: absolute;
  top: 60px;
  left: 20px;
  font-size: 20px;
}

#difference {
  position: absolute;
  top: 70px;
  font-size: 11px;
  left: 130px;
  color: slategray;
}

#amount_icon {
  position: absolute;
  top: 60px;
  left: 10px;
  font-size: 12px;
}

#percentage_green{
  position: absolute;
  top: 30px;
  font-size: 16px;
  left: 150px;
  color: rgb(89, 168, 89);
  width: 100px;
}

#percentage_arrow_green{
  position: absolute;
  top: 32px;
  font-size: 16px;
  left: 90px;
  color: rgb(89, 168, 89);
  width: 100px;
}

#percentage_red {
  position: absolute;
  top: 30px;
  font-size: 16px;
  left: 150px;
  color: rgb(133, 16, 16);
  width: 100px;
}

#percentage_arrow_red {
  position: absolute;
  top: 32px;
  font-size: 16px;
  left: 90px;
  color: rgb(133, 16, 16);
  width: 100px;
}

.card {
  width: 200px;
  height: 150px;
  box-shadow: 1px 1px 1px #888;
  flex: 0 1 24%;
  margin: 1rem 0.25em;
  padding: 10px 60px 10px;
}

.cardMetrics {
  margin: 15px;
}

.cardMetrics p {
  position: absolute;
  top: 8px;
  left: 16px;
  font-size: 16px;
}

.card-body p {
  position: absolute;
  top: 16px;
  right: 60px;
  font-size: 12px;
}
