.searchbox-container {
  display: flex;
  flex-direction: column;
}

.searchbox {
  position: relative;
  width: 100%;
  align-items: left;
  display: flex;
  border: 1px solid grey;
  border-radius: 2px;
}

.searchbox-elements {
  width: 60%;
  height: 100%;
  margin-top: 20px;
}

.searchbox input[type="text"] {
  padding: 10px;
  font-size: 15px;
  float: left;
  width: 90%;
  height: 100%;
  border: none;
}

.btnSearch {
  float: right;
  width: 10%;
  background: rgba(0, 0, 255, 0.556);
  font-size: 17px;
  height: 100%;
}

.btnFilter {
  display: inline-block;
  vertical-align: top;
}

form.searchbox button:hover {
  background: #6da7d6;
}

.list-group span {
  color: "gainsboro";
}

.list-container {
  width: 100%;
}

.list-group-item {
  border: 1px solid rgba(0, 0, 0, 0.125);
  margin-bottom: 1px;
}
