.circle-icon {
  background: white;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  padding: 10px;
  margin: auto;
}

.card-service {
  text-align: center;
}

.card-service p {
  font-size: 12px;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 160px;
  height: 1.2em;
  white-space: nowrap;
  margin: auto;
  padding-bottom: 30px;
}

.bs-tooltip-auto[x-placement^="bottom"] .arrow::before,
.bs-tooltip-bottom .arrow::before {
  background-color: black;
}
