.CardsRow {
  min-height: 300px;
  padding: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  z-index: 2;
  flex-grow: 1
}
.CardsRow > *{
  margin: 0.4rem;
}

.CardsRow__MoreBtn {
  
}
.CardsRow__Headding{

}
.CardsRow__Cards{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  overflow: hidden;
}



.CardsRow__footer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.CardsRow__footer > button{
  padding: 0.4rem;
}
